[submodule "NoPARSE"]
	path = NoPARSE
	url = https://github.com/noloitering/NoPARSE.git
	branch = production
[submodule "NoGUI"]
	path = NoGUI
	url = https://github.com/noloitering/NoGUI.git
	branch = production
[submodule "NoMVC"]
	path = NoMVC
	url = https://github.com/noloitering/NoMVC.git
	branch = production
[submodule "NoMEM"]
	path = NoMEM
	url = https://github.com/noloitering/NoMEM.git
	branch = production
[submodule "include/raylib"]
	path = include/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "NoECS"]
	path = NoECS
	url = https://github.com/noloitering/NoECS.git
	branch = production
